.form {
  background-color: snow;
  align-self: center;
  border-radius: 5px;
  width: 100%;
}

.form > h1 {
  font-size: 22px;
}

.form textarea {
  width: 80%;
  height: 80px;
  resize: none;
}

.submitButton {
  margin: 2px;
}
